@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-border {
	position: relative;
}
.custom-border::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	width: 20%;
	left: 40%;
	border-bottom: 4px solid #1191d0;
}
